<p style="color: green"><%= notice %></p>

<h1>Genres</h1>

<div id="genres">
  <% @genres.each do |genre| %>
    <%= render genre %>
    <p>
      <%= link_to genre.name, genre %>
    </p>
  <% end %>
  <%= paginate @genres %>
</div>