/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

button, input[type=submit] {
  color: white!important;
  border-radius: 0!important;
  background-color: black!important;
  background-image: none!important;
}

* {
  font-family: 'Roboto', sans-serif!important;
}

.box {
  width: 75%!important;
  margin: auto auto;
  height: 600px;
}

.edit {
  height: 750px;
}

.record {
  width: 245px!important;
  height: 260px;
}

.pagination-link, .pagination-next, .pagination-previous  {
  background-image: none!important;
  text-align: center;
  padding-top: 0.8em!important;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

a {
  text-decoration: none!important;
}

.navbar-link {
  color: white!important;
}

.navbar-link:hover {
  color: #485fc7!important;
}



@media only screen and (max-width: 840px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 560px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}




