<%= form_tag(records_search_path, :method => "get") do |f| %>
<div class="input-group">
  <%= search_field_tag :search, params[:search], placeholder: "Record", class: "form-control" %>
  <%= select_tag :genre, options_from_collection_for_select(Genre.all, :id, :name), :include_blank => true, class: "custom-select" %>
 <div >
   <%= button_tag "Search for record", :name => nil, class: 'button is-dark is-light' %>
  </div>
</div>
<% end %>